.home-container {
  padding: 0; /* Remove padding to allow carousel to be full width */
}

.home-carousel .carousel-item {
  position: relative;
  text-align: center; /* Center the text */
}

.home-carousel .carousel-caption {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  border-radius: 5px; /* Optional: adds rounded corners to the background */
  display: inline-block; /* Wraps the background tightly around the text */
  padding: 0.5rem 1rem; /* Padding around the text */

}
.carousel-img {
  max-height: 400px; /* Adjust the height as needed */
  object-fit: cover;
  margin-left: auto; /* Center the image */
  margin-right: auto; /* Center the image */
  display: block; /* Needed to apply auto margins */
  width: auto; /* This will maintain the aspect ratio */
  max-width: 80%; /* Adjust this value to set how wide the image should be */
}

.banner-row {
  margin-top: 3rem; /* Space out the banner from the carousel */
}

.banner-col {
  padding: 0; /* Remove padding for a flush grid look */
}

.banner {
  position: relative;
  overflow: hidden;
}

.banner-img {
  width: 100%;
  transition: transform 0.5s ease; /* Smooth transition for hover effect */
}

.banner:hover .banner-img {
  transform: scale(1.05); /* Slight zoom on hover */
}

.banner-caption {
  position: absolute;
  bottom: 20%;
  left: 10%;
}

.banner-caption h3 {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
  display: inline; /* Only take up the space of the content */
  padding: 0.5rem 1rem; /* Padding around the text */
}

.btn-outline-primary, .btn-outline-secondary {
  color: #fff;
  border-color: #333;
  background-color: rgba(50, 50, 50, 0.8); /* Dark grey with opacity for blurriness */

}

.btn-outline-primary:hover, .btn-outline-secondary:hover {
  background-color: rgba(26, 26, 26, 0.9); /* Slightly darker on hover */
  color: #fff;
  border-color: #333;
}
