/* Adjusting Carousel Image */
.carousel-img {
  max-height: 400px; 
  object-fit: cover;
  padding-right: 30%;
}

/* Styling the content to overlay on top of the images */
.carousel-content {
  position: relative;
  height: 400px; /* Assuming the slide should have a certain height */
  align-items: center; /* align items vertically centered */
}

.content-container {
  display: flex;
  flex-direction: column; /* stack content vertically */
  justify-content: center; /* center content vertically */
  height: 100%; /* take full height of parent */
}

.content {
  color: rgb(0, 0, 0); /* assuming the content text should be white */
  padding-left: 10%; /* space from the left */
}

.carousel-content .btn {
  margin-top: 20px;
  background-color: #bac34e; /* example color, you can adjust */
  color: #fff;
  border: none;
}

/* Styling for carousel controls (prev/next buttons) */
.carousel-control-prev, .carousel-control-next {
  background-color: white; 
  width: 50px; 
  height: 50px;
  align-items: center; /* center the icons vertically */
  justify-content: center; /* center the icons horizontally */
  top: 50%; /* move it to the middle of the container */
  transform: translateY(-50%); /* adjust the position to truly center it */
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  filter: invert(1); 
  width: 20px; /* adjust as needed */
  height: 20px; /* adjust as needed */
}

/* Adjust the positioning of the controls */
.carousel-control-prev {
  align-items: center; /* center the icons vertically */
}

.carousel-control-next {
  align-items: center; /* center the icons vertically */
}

.banner-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 1.5rem;
}

.banner {
  position: relative;
  height: 20rem;
  overflow: hidden;
}

.banner:hover img {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out; /* Transition effect for 0.3 seconds */
}

.banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.banner .content {
  position: absolute;
  top: 50%;
  left: 2rem;
  transform: translateY(-50%);
}

.banner .content span {
  color: #666;
  font-size: 1.5rem;
}

.banner .content h3 {
  font-size: 2rem;
  padding-top: .5rem;
  color: #222;
}

.banner .content .btn {
  padding: .8rem 2.5rem;
  margin-top: 20px;
  background-color: #bac34e; /* example color, you can adjust */
  color: #fff;
  border: none;
}