
.about {
    padding: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1.5rem;
  }
  .about .content,
  .about .image {
    flex: 1 1 5rem;
    padding: 0;
  }
  
  .about .image img {
    width: 100%;
  }
    
  .about .content span {
    color: #bac34e;
    font-size: 2.5rem;
  }
  
  .about .content h3 {
    color: #222;
    font-size: 3rem;
    padding-top: .5rem;
  }
  
  .about .content p {
    color: #666;
    font-size: 1.4rem;
    line-height: 2;
    padding: 1rem 0;
  }
  
.gallery{
    padding: 50px;
}
.gallery .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); /* Adjust the 200px to your preferred minimum width */
    gap: 1.5rem;
    justify-content: center;
}
  
  
  .gallery .box-container .box {
    height: 25rem;
    overflow: hidden;
    position: relative;
  }
  
  .gallery .box-container .box img {
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  
  .gallery .box-container .box:hover img {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  
  .gallery .box-container .box:hover .icons {
    bottom: 0;
  }
  
  .gallery .box-container .box .icons {
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    padding: 1.5rem 0;
    position: absolute;
    bottom: -6rem;
    left: 0;
    right: 0;
    z-index: 10;
  }
  
  .gallery .box-container .box .icons a {
    font-size: 2.5rem;
    color: #fff;
    margin: 0 1.5rem;
  }
  
  .gallery .box-container .box .icons a:hover {
    color: #bac34e;
  }

.icons .fa-eye,
.icons .fa-heart,
.icons .fa-share-alt {
  color: white;
  font-size: 1.5rem; /* Adjust size as needed */
  margin-right: 10px; /* Space between icons */
  transition: color 0.3s, transform 0.3s; /* Smooth transition for color and size */
}

.icons .fa-eye:hover,
.icons .fa-heart:hover,
.icons .fa-share-alt:hover {
  color: #bac34e; /* Your green color */
  transform: scale(1.1); /* Slightly increase size */
}
.icon {
    cursor: pointer;
    transition: transform 0.2s, color 0.2s;
  }
  
  .icon:hover {
    transform: scale(1.1);
    color: #bac34e; /* Adjust the color as per your theme */
  }