@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
  font-family: 'Poppins', sans-serif;
}

.footer {
  background: #f3f3f3;
  padding: 3rem 9%;
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 1.5rem;
}
.footer .box-container .box {
  
}

.footer .box-container .box h3 {
  font-size: 2rem;
  color: #222;
  padding: 1rem 0;
  font-weight: bold;
}

.footer .box-container .box p {
  font-size: 1.3rem;
  color: #666;
  padding-bottom: .5rem;
}

.footer .box-container .box a {
  font-size: 1.2rem;
  padding: 1rem 0;
  color: #666;
  display: block;
  text-decoration: none;
  position: relative;
  transition: transform 0.5s ease-in-out, opacity 0.3s ease-in-out; /* Smooth transition for transform and opacity */
}

.footer .box-container .box a:hover {
  color: #bac34e;
  transform: translateX(10px); /* Move text 5px to the right */
  opacity: 0.7; /* Make text slightly transparent */
}

.footer .box-container .box a:hover i {
  padding-right: 3rem;
}

.footer .box-container .box a i {
  padding-right: .5rem;
  color: #bac34e;
  display: inline-block; /* This helps in aligning the icon properly */
  margin-right: .5rem; /* Optional: Adds some space between the arrow and the text */
  transition: color 0.3s ease-in-out; /* Smooth transition for color change */
  font-size: 1.4rem;
}

.footer .box-container .box form input[type="email"] {
  width: 100%;
  padding: .5rem 1.2rem;
  font-size: 1rem;
  color: #222;
  margin: 1rem 0;
  text-transform: none;
}

.footer .box-container .box .payment {
  width: 100%;
  margin-top: 2rem;
}

.credit {
  text-align: center;
  background: #bac34e;
  color: #fff;
  font-size: 1.4rem;
  padding: 1rem 0;
}
